include includes/header.pug

block content
  link(rel="stylesheet" href="/stylesheets/reg.css")
  body(class="home-body")
    div(class="main pt-4")
      div(class="container")
        div(class="nav")
          a(href="/" class="nav-logo") Launch
        div(class="row justify-content-center")
          div(class="col-md-7 down")
            div(class="box shadow-lg")
              h3(class="text-center font-italic mb-3") Welcome back
              form(method="POST")
                if error 
                  p(class='feedback-error') #{error}
                input(type="email" class="launch-form" placeholder="Email" id="email" name="email" required)
                p(class="email-feedback")
                input(type="password" class="launch-form" placeholder="Password" id="password" name="password" required)
                p(class="username-feedback")
                div(class="float-right")
                  a(href="/reset-password" class="f-password italic-text") Forgot Password?
                div(class="clearfix")
                div(class="text-center pt-1")
                  p
                    button(type="submit" class="btn btn-custom mt-2" id="submit") Log in
                  i(class="on-submit")

    include includes/footer.pug
