include includes/header.pug

block content
  link(rel="stylesheet" href="/stylesheets/reg.css")
  body(class="home-body")
    div(class="main down text-center")
        h4 
            i Unable to process...
