include includes/header.pug

block content
  link(rel="stylesheet" href="/stylesheets/reg.css")
  body(class="home-body")
    div(class="main pt-4")
      div(class="container")
        div(class="nav")
          a(href="/" class="nav-logo") Launch
        div(class="row justify-content-center")
          div(class="col-md-7 mt-4")
            div(class="box shadow-lg")
              h5(class="text-center font-italic mb-5") Enter your registered email and your secret answer
              form(method="POST")
                if error 
                  p(class='feedback-error') #{error}
                input(type="email" class="launch-form" placeholder="Email" id="email" name="email" required)
                input(type="text" class="launch-form mt-3" placeholder="Secret Answer" id="answer" name="answer" required)
                div(class="text-center mt-2")
                  p
                    button(type="submit" class="btn btn-custom mt-2" id="submit") Confirm
                  i(class="on-submit")

    include includes/footer.pug
